@import "../../styles/variables";

.room-login {
  grid-area: l;
  &__containter {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 1fr 200px 1fr;
    grid-template-areas:  ". . ."
                          ". l ."
                          ". . .";
  }
  &__input,
  &__submit {
    width: 100%
  }
}
