@import "../styles/variables";
@import "../styles/mixins";

header {
  display: none;
  @include header();

  @media (min-width: $screen-s) {
    display: block;
  }
}

main {
  margin-top: 40px;
  height: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
