<div class="expand-info">
  <mat-icon class="expand-info__menu">menu</mat-icon>
  <div class="expand-info__short-instruction">
    <span>Expand the </span><span>word </span><span class="expand-info__word-to-expand">{{wordToExpand}}</span>
  </div>
  <div class="expand-info__timer">02:00</div>
</div>
<p class="examples"></p>
<mat-form-field>
  <input matInput placeholder="Your expending" type="text" name="expanding" ngModel>
</mat-form-field>
<button mat-raised-button color="primary">Send</button>


