@import "../../../styles/variables";
@import "../../../styles/mixins";

.expand-info {
  @include header();
  display: flex;
  align-items: center;

  &__short-instruction {
    display: inline-block;
    margin-left: 10px;
  }
  &__word-to-expand {
    text-decoration: underline;
  }
  &__timer {
    margin-left: auto;
    margin-right: 20px;
  }
}
